body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font: inherit;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}
// 비트맵 이미지에는 유용하나 벡터 이미지(svg)에는 무용

video {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 100%;
}
